.footer {
  display: flex;
  justify-content: center;
  clear: both;
  margin: 10% 0 3% 0;
}

.footerLeft {
  width: 21%;
}
.footerCenterLeft {
  width: 4%;
}
.footerCenterRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerRight {
  width: 25%;
}

.footerImage {
  float: right;
}
