/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 900px) {
  .pageTitle {
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
  }
  .navLink {
    width: 25%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 900px) {
  .pageTitle {
    font-size: 3.8em;
    display: flex;
    padding: 2% 0 0 0;
  }
  .navLink {
    display: flex;
    flex-direction: row;
  }
}
