.projectImage {
  display: flex;
  justify-content: center;
}

.purchaseLink {
  font-size: 1.6em;
  margin: 5% auto;
  width: 47%;
  border: 3px solid deepskyblue;
  padding: 1% 2%;
  color: deepskyblue;
  display: flex;
  justify-content: center;
}

.italic {
  font-style: italic;
}
